* {
  padding: 0; /*контент внутри*/
  margin: 0; /*отступы вокруг объекта*/
  box-sizing: border-box;
}
body {
  font-family: "Alef", sans-serif;
  /* font-weight: 200; */
  height: 100vh; /*vh -- указывается в процентах и имеет смысл того, насколько должен быть объект расположен по всей странице. То есть я сейчас написал, что контент будет располагаться во всю длину веб-страницы*/
  display: flex;
}
.col {
  flex: 1;
  background-color: #ccc;
}
