html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  align-items: center;
  background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
  display: flex; /*растягивается на все свободное пространство*/
  font-display: swap; /*я так понял, что это отображение шрифтов в тот момент, когда специально загруженные шрифты не отоюражается при загрузке*/
  font-size: 30px;
  height: inherit;
  justify-content: center;
}

.wrapper {
  background: rgba(79, 82, 36, 0.164);
  border: 1px solid rgba(50, 185, 163, 0.39);
  border-radius: 10px;
  flex-basis: 400px;
  height: 540px;
  padding: 20px 35px;
}

.screen {
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  color: black;
  text-align: right;
  overflow: auto; /*пределяет, необходимо ли для переполненного блочного элемента содержимое обрезать, предоставить полосы прокрутки или просто отобразить.*/
  padding: 20px;
  width: 326px;
}

.calc-button-row {
  display: flex;
  justify-content: space-between;
  margin: 5% 10%;
}

.calc-button {
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid black;
  border-radius: 20px;
  flex-basis: 20%;
  font-size: 24px;
  padding: 10px 10px;
}

.calc-button:last-child {
  color: #83f500;
  background: rgba(255, 10, 10, 0.658);
}
